/*  your css code here. If applicable */
*{
	background-color:#f5f5f5;
}
.container-1{
	background-color:#ffff;
	border: 1px solid grey;
	height:80px;
	padding:10px;
	text-style:normal;
	margin:10px;
}
p,span{
	background:#ffff;
}
span{
	display:block;
	text-align:right;
	font-style:italic;
	
}